.event_header{
    background-color: aqua;
    text-align: center;

}

.event{
    width: 300px;
    border: 1px solid green;
    padding: 20px;
    border-radius: 20px;
}
.event:hover{
    
}
.event-time{
    display: flex;
    text-align: center;
    justify-content: space-around;
}