.event-section{
    background-color: rgb(192, 186, 178);

}
button{
    outline: none;
    border: none;
    font-size: 1rem;
    color: rgb(18, 43, 18);
    padding: 10px;
    font-weight: 900;
    border-radius: 8px;
    margin: 10px;
}
button:hover{
    color: white;
    cursor: pointer;
    background-color:green;
}

.event_header{
    /* background-color: aqua; */
    text-align: center;
    height: 200px;
    color: white;
    display: flex;
    border-radius: 12px;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 43, 18);

}
img{
    width: 280px;
    object-fit: contain;
    border-radius: 10px;
    text-align: center;
}

.event{
    width: 300px;
    background-color: rgb(18, 43, 18);
    padding: 20px;
    color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}

.event-time{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.event-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}